{% extends "app/layout.html" %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {

     
      var i=1;
     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='item_id' type='item_id' placeholder='Item ID' class='form-control input-md' required/> </td><td><input  name='item_name' type='text' placeholder='Item Name'  class='form-control input-md'  required></td><td><input  name='description' type='text' placeholder='Description'  class='form-control input-md' required></td><td><input name='quantity' ng-model='quantity' type='text' placeholder='Quantity' class='form-control input-md' required numbers-only/> </td><td><input name='unit_price' ng-model='unit_price' type='text' placeholder='Price Per Unit' class='form-control input-md'  required numbernalphabet-only/> </td>");

      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  });
     $("#delete_row").click(function(){
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
		 }
	 });

});
</script>

<div  class="formpurchaseorder margintop"  ng-app="myApp" ng-controller="myCtrl" align="center" ng-cloak>

    <form name="myForm" class="purchaseordersubmission" action="purchaserequisitionconfirmation" method="POST">
      {% csrf_token %}
        <div class="row margintop">
            <div class="col">
                <input type="text" class="form-control" name="purchase_requisition_id" value="{{purchase_requisition_id}}"  placeholder="Purchase Requisition ID" readonly>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="person_id" id="person_id" value="{{person_id}}"placeholder="Person ID" readonly>
            </div>
      
        </div>

        <br/>

        <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">

				<thead>
					<tr >
						<th class="text-center">#</th>
						<th class="text-center">Item ID</th>
						<th class="text-center">Item Name</th>
                        <th class="text-center">Description</th>
						<th class="text-center">Quantity</th>
                        <th class="text-center">Price Per Unit</th>
					</tr>
				</thead>
				<tbody name="item_rows">
					<tr id='addr0'>
						<td>1</td>
                        <td> <input type="text" name='item_id' placeholder='Item id'  class="form-control" required/> </td>
						<td><input type="text" name="item_name"  placeholder='Item name' class="form-control" required></td>
						<td><input type="text" name='description' placeholder='Description' class="form-control" required/></td>
                        <td><input ng-model="quantity" type="text" name='quantity' placeholder='Quantity'  class="form-control" required numbers-only/></td>
                        <td><input ng-model="unit_price" type="text" name='unit_price' placeholder='Price Per Unit'  class="form-control" required numbernalphabet-only/></td>
					</tr> 
                    <tr id='addr1'></tr>
               
				</tbody>
			</table>
		</div>
        </div>
        <input id="add_row" type="button" class="btn btn-default pull-left" value="Add Item"><input id="delete_row" type="button" class="btn btn-default pull-right" value="Delete Item">
        <div class="margintop">
            <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-success btn-square buttonsize">Submit</button>
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
        </div>


    </form>

</div>
<script>
    var app = angular.module("myApp", []);
       app.controller("myCtrl", function($scope, $http) {
   
   
       }).directive('noSpace', function() {
        return {
            require: 'ngModel',
            link: function(scope, element, attr, ngModelCtrl) {
                function fromUser(text) {
                    if (text) {
                        var transformedInput = text.replace(/\s/g, '');

                        if (transformedInput !== text) {
                            ngModelCtrl.$setViewValue(transformedInput);
                            ngModelCtrl.$render();
                        }
                        return transformedInput;
                    }
                    return '';
                }
                ngModelCtrl.$parsers.push(fromUser);
            }
        };
    }).directive('numbersOnly', function() {
        return {
            require: 'ngModel',
            link: function(scope, element, attr, ngModelCtrl) {
                function fromUser(text) {
                    if (text) {
                        var transformedInput = text.replace(/[^0-9]/g, '');

                        if (transformedInput !== text) {
                            ngModelCtrl.$setViewValue(transformedInput);
                            ngModelCtrl.$render();
                        }
                        return transformedInput;
                    }
                    return '';
                }
                ngModelCtrl.$parsers.push(fromUser);
            }
        };

        
    }).directive('numbernalphabetOnly', function() {
        return {
            require: 'ngModel',
            link: function(scope, element, attr, ngModelCtrl) {
                function fromUser(text) {
                    if (text) {
                        var transformedInput = text.replace(/[^0-9]+[.]/g, '');

                        if (transformedInput !== text) {
                            ngModelCtrl.$setViewValue(transformedInput);
                            ngModelCtrl.$render();
                        }
                        return transformedInput;
                    }
                    return '';
                }
                ngModelCtrl.$parsers.push(fromUser);
            }
        };
    });
   </script>
{% endblock %}
